{% extends "base.html" %}

{% block title %}Add{% endblock %}

{% block content %}
<h3>Add page</h3>

<form method="post">
<p style="font-size: 34px;">
  {{ form.name.label }}
  {{ form.name }}
</p>

<p style="font-size: 34px;">
  {{ form.type.label }}
  {{ form.type }}
</p>

<p style="font-size: 34px;">
  {{ form.type2.label }}
  {{ form.type2 }}
</p>
<p style="font-size: 34px;">
  {{ form.trainer.label }}
  {{ form.trainer }}
</p>

{{ form.submit}}

{{ form.csrf_token }}

</form>

{% endblock %}
